*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: 'Sondos';
    background-color: #242424;
}


/* HEADER E NAVBAR*/

.offcanvas-body ul li{
    list-style: none;
    margin-bottom: 3rem;
}

.offcanvas-body ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: #E12929;
    transition: all 0.4s ease;
}

.offcanvas-body ul li a:hover{
    color:#242424;
}

#navbarprincipal{
    background-color: #242424;
}

header{
    background-color: #242424;
    width: 100vw;
    height: 6rem;
}

.navbar-brand{
    width: 20rem;
    height: 4.4rem;
}

.navbar-brand img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.nav-item{
    border: none;
}

.btn-primary{
    border: none !important;
}

/*  PARALELOGRAMOS COM IMAGEM DOS CARROS*/

#formas{
    background-color: #242424;
    padding-top: 5rem;
    height: 35rem;
    width: 100vw;
}

#formascarros{
    display: flex;
    gap: 8rem;
    width: 100vw;
    height: 25rem;
    justify-content: center;
}

.quadradoimagemcarro{
    width: 22rem;
    height: 25rem;
    transform: skewX(-15deg);
}

.quadradoimagemcarro img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 7.5rem;
}

.paralelogramo{
    width: 22rem;
    height: 100%;
    background-color: white;
    transform: skewX(15deg);
}

.primeiro, .segundo{
    background-color: #E12929;
}

/*CARROSSEL*/
.carousel-inner{
    height: 45rem;
    width: 100vw !important;
}


/* SEÇÃO DE CONTÉUDO */

#conteudo{
    height: 150rem;
    background-color: #000000;
    padding-top: 5rem;
    width: 100vw;
   
}

#conteudo1{
    height: 80%;
    width: 100vw;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}


/*   SUCONTEUDO1  = NISSAN SENTRA*/

#subconteudo1{
    width: 100vw;
    height: 30rem;
    background-color: rgb(31, 30, 30);
    display: flex;
}

.carroexemplo{
    width: 100vw;
    height: 100%;
}

.carroexemplo img{
    object-fit: contain;
    width: 100vw;
    height: 100%;
}

/* SUBCONTEUDO2  = FOTO DO MECANICO */


#subconteudo2{
    width: 100vw;
    height: 35rem;
    background-color: rgb(128, 16, 16);
    display: flex;
    gap: 20rem;
}

.mecanicoetexto{
    width: 50%;
    height: 100%;
}

.texto{
    display: flex;
    align-items: center;
    padding: 0 6rem 0 6rem;
}

#texto{
    width: 100%;
    height: 50%;
    font-size: 2rem;
    color: white;
}

#texto p:nth-child(1){
    font-size: 2.5rem ;
}



.mecanicoetexto img{
    
    width: 100%;
    height: 100%;
}


/*  SUBCONTEUDO3 */

.subconteudo{
    height: 30%;
}

#subconteudo3{
    height: 30%;
    width: 100vw;
    background-color: rgb(45, 54, 54);
    display: flex;
}

.financiamento{
    width: 100%;
    height: 100%;
    display: flex;
}

.financiamento-imagem{
    width: 100%;
    height: 100%;
    
}

.financiamento-imagem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.financiamento-texto{
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 2rem 0 2rem 0;
}

.financiamento-forma{
    width: 18%;
    height: 90%;
    background-color: #E12929;
}

.financiamento-texto-icone{
    display: flex;
    font-size: 4rem;
    color: white;
    align-items: center;
    gap: 1.6rem;
}

.financiamento-texto-icone i{
    font-size: 1.2rem;
}

.LOGO{

    height: 60rem;
    width: 187.5rem;

}

.CAIXAVAZIA{

    height: 15rem;
    width: 187.5rem;

}

.CAIXA0{

    height: 60rem;
    width: 187.5rem;
    display: flex;
}

.CAIXA1{

    border: 0.3rem solid rgb(128, 121, 121);
    height: 60rem;
    width: 98rem;
    display: flex;

}

.CAIXA2{

    height: 60rem;
    width: 93.75rem;

}

.SUPERIOR{
    
    height: 10rem;
    width: 45rem;
    transform: translate(50%, 0%);
    font-size: 7rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}

.INFERIOR{
   
    height: 50rem;
    width: 60rem;
    transform: translate(25%, 0%);

}

.CAIXINHA1{

    height: 60rem;
    width: 60rem;

}

.CAIXINHA2{

    height: 60rem;
    width: 33.75rem;

}

.SUBCAIXINHA1{

    height: 30rem;
    width: 33.75rem;

}

.SUBCAIXINHA2{

    height: 30rem;
    width: 33.75rem;

}

.MINISUBCAIXINHA1{

    height: 10rem;
    width: 33.75rem;
    font-size: 4.3rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
}

.MINISUBCAIXINHA2{

    height: 10rem;
    width: 33.75rem;
    font-size: 4.3rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}

.MMCAIXA1{

    height: 20rem;
    width: 33.75rem;
    font-size: 2rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center
}

.MMCAIXA2{

    height: 20rem;
    width: 33.75rem;
    font-size: 1.5rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center

}

.offcanvas-header h5, .offcanvas-body a{
    font-family: 'Prompt';
  }

  .offcanvas-header h5{
    font-size: 2rem;
    padding-left: 1rem;
  }